/* 


@media only screen and (max-width: 1200px) {
    .body{
        font-size:10px;
    }
    .project_card {
      width: 85% !important;
    }
    .logo{
        width:50%;
    }
    .logo >img{
        width: 60%;
        height: auto;
    }
    .menu{ 
        width: 60%;
    }
    .icons{
        width:20%;
    font-size: 20px;
    }
    
   
  }
  @media only screen and (min-width: 1800px) {
      .container{
        width:80% !important;
        padding-left: 10%;
        padding-right:10% ;
      }
      .project_card{
          height:60vh !important;
          width: 90% !important;
      }
      .project_section{
          margin-top: 15vh;
      }
      .logo{
        width:40%;
      }
    .project_date{
        font-size:small;
    }
    .project_header>h5{
        font-size: medium;
    }
    .project_tags{
        font-weight:normal;
        font-size:smaller;
    }
  } */