body{
    
    /* background-image: url("./images/background.jpg"); */
    background-color:#000000e6;
    background-size:initial;
    background-repeat: no-repeat;
    margin: 0px;
    padding:0px;
    font-family: 'Poppins' , sans-serif;
    color:white;
    /* :#333e4f; */
}
.container{
    width: 80%;
    margin-left: 10%;
    margin-right:10%;
    
}
.content1{
    height:100vh;
}
.navbar{
    /* background-color: #383131; */
    width: 70%;
    margin-left: 15%;
    margin-right:15%;
    margin-top:4vh;
    position:relative;

    display: flex;
    justify-content:space-between;
    font-size: 30px;
    font-style: bold;
}
.navbar>span{
    cursor:pointer;
    color:#3f7cac;
}


.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }
  
  /* Position the content inside the overlay */
  .overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  }
  
  /* The navigation links inside the overlay */
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color:#3f7cac;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
  }
  
  /* When you mouse over the navigation links, change their color */
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  /* Position the close button (top right corner) */
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  


.main_section{
    margin-left: 30%;
    margin-right:30%;
    margin-top:20vh;
    width:40%;
    height: 50vh;
    text-align: center;
}
.main_section >h1{
    
    line-height: 0;
    width:auto;
}
#pre{
    /* color: #3A7FB0; */
    font-size:16px;
    font-weight: 300;
}
#post{
    /* color:#333E4F; */
    font-size:medium;
    font-weight:300;
}
.resume{
    font-size: medium;
    transition:0.4s;
    text-align: center;
    width:200px;
    background-color: rgba(0,0,0,0.9);
    color:#3f7cac;
    border: 1px solid #333e4f;
	padding:5px 10px;
    border-radius:6px;
}
.resume:hover{
    color:white;
    background-color: #3f7cac;
}

a{
    color:#3f7cac ;
    font-style: unset;
    text-decoration:none; 
    cursor:pointer;  
}
.icons{
    font-size:2rem;
    margin:5% 30% 0 30%; 
    width: 40%;
    display: flex;
    justify-content: space-evenly;
}
.footer{
    margin-left: 40%;
    margin-right:40%;
    width:20%;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}

.pop_color{
    height:15px;
    width: 15px;
    border-radius: 300px;
}
/* ------------------------------------------------*/

.aboutMe_content{
    margin-top:10vh;
    margin-left: 15%;
    width:60%;
    height: 100vh;  
    display: block;
    margin-left: auto;
    margin-right: auto; 
}
.aboutMe_content > p{
    width:80%;
    margin-left: 15%;
    margin-top:5vh;
    font-size: 16px;
    font-weight: lighter;
    line-height: 1.5;
    text-align: center;
}

.tables{
    width:80%;
    margin-left: 15%;
    font-size: 16px;
    display: flex;
    flex-direction: column;
   justify-content:space-evenly;
   align-items: center;
   text-align: center;
}
.table{
    list-style-type:none;
    width:60%;
    font-weight: lighter;
}
.profile_photo{
    border-radius: 80%;
    height:25%;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#tagline{
    text-align: center;
    font-style: italic;
    font-size: x-large;
}

.page_title{
    margin-left:0 20% 0 20%;
    text-align: center;
    font-size: x-large;
    color: #474747;
}

.project_section{
    
    display: flex;
    flex-flow:row wrap;
    justify-content: space-between;

    margin-bottom: 10%;
    margin-left: 20%;
    margin-right: 20%;

}
.project_card{
    background-color: rgba(0,0,0,0.4);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100% !important;
    height:auto;
    border-radius: 5%;
    /* padding:5px;
    margin-left: 10px; */
    margin-bottom: 30px;
    
}

.project_date{
    padding:10px 10px;
    font-size: 1rem;
    display: flex;
    justify-content: center;
}
.project_header{
    padding:10px;
    margin-top: -2vh;
    font-size: medium;
    font-weight: 400;
    text-align: center;
}
.project_tags{
    display:flex;
    justify-content: center;
    flex-direction: row;  
}
.project_tags>p{

    font-size: small;
    font-weight: 400;
    padding-left: 1%;
    padding-right: 1%; 
    color:#3f7cac;

}

.project_card>img{

    width:100%;
    height:auto;
    object-fit: contain;
    border-radius: 3%;
}
.project_report{
    font-weight:400;
    display: flex;
    flex-direction: row;
    flex-flow: space-between;
    justify-content: center;
} 
.project_report>div{
    border: 0.5px solid;
    border-color:#3f7cac;
    border-radius:3px;
    margin-right: 5px;
    padding:1%;
}
.project_report>div:hover{
    color:white;
    background-color: #3f7cac;
}




@media only screen and (max-width: 600px) {
    .container{
        align-items: center;
    }
    .navbar{
        width: 100%;
        margin:5vh 5% 0% 5%;

    font-size: 25px;
    font-style: bold;


    }
    .main_section{
        margin:15vh 0% 0% 0%;
        width: 100%;
        height: 50vh;
        align-content: center;
    }
    .footer{
        margin-left: 20%;
        margin-right:20%;
        width:60%;
    }
    .project_section{
        display: flex;
        flex-flow:column wrap;
        justify-content: space-between;

        margin: 0 0 0 0;

        align-items: center;
    
    }
    .project_card{
        width: 300px!important;
    }
    .project_card>img{

        width:100%;
        height:auto;
        object-fit: contain;
        border-radius: 3%;
    }
}